{% extends 'account/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">Post a Job</h1>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.job_name.id_for_label }}">Job Title:</label>
                            {{ form.job_name }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.job_description.id_for_label }}"> Job Description:</label>
                            {{ form.job_description }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.duration_of_employment.id_for_label }}">Duration:</label>
                            {{ form.duration_of_employment }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.money_hr.id_for_label }}">Salary per hour:</label>
                            {{ form.money_hr }}
                        </div>
                        
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block" value="Post Job">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}