{% block content %}
<div class="flex">
  <div class="container">
    <h1>User Profiles</h1>
    <hr>
    <div class="row">
      {% for user_profile in object_list %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            {% if user_profile.username == user.username%}
            {% if user_profile.profile_picture %}
            <div class="profile-info">
              <div class="profile-pic-container bg-secondary">
                <img class="profile-pic" src="{{ user_profile.profile_picture.url }}" alt="Profile pic">
              </div>
              <div class="profile-name-container text-center">
                <h3>{{ user_profile.full_name }}</h3>
                <h5>{{ user_profile.username }}</h5>
              </div>
            </div>
            {% else %}
              <div class="d-flex justify-content-center align-items-center" style="height: 150px;">
                <span class="text-muted">No profile picture</span>
              </div>
            {% endif %}
            {% endif %}
          </div>
        </div>
      {% empty %}
        <p>No user profiles found.</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

<style>
  .profile-pic-container {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .profile-pic {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .profile-name-container {
    font-size: 1.25rem;
  }

  .profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .profile-info h3,
  .profile-info h5 {
    margin: 0;
    font-weight: bold;
    color: #333;
  }
</style>
