

{% block content %}
    <h1>Rate {{ user.username }}</h1>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{ user.id }}">
        <label>Rating:</label>
        <select name="rating">
            <option value="1">1 star</option>
            <option value="2">2 stars</option>
            <option value="3">3 stars</option>
            <option value="4">4 stars</option>
            <option value="5">5 stars</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
